<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
  <target xsi:type="Database"  name="database" connectionString="
				Data Source=(local);Initial Catalog=Qms;Persist Security Info=True;
				User ID=sa;Password=123456" commandText="insert into NLog_Lo([CreateOn],[Origin],[LogLevel], [Message], [Exception],[StackTrace]) values (getdate(), @origin, @logLevel, @message,@exception, @stackTrace)">

    <!--日志来源-->
    <parameter name="@origin" layout="${callsite}"/>
    <!--日志等级-->
    <parameter name="@logLevel" layout="${level}"/>
    <!--日志消息-->
    <parameter name="@message" layout="${message}"/>
    <!--异常信息-->
    <parameter name="@exception" layout="${exception}" />
    <!--堆栈信息-->
    <parameter name="@stackTrace" layout="${stacktrace}"/>
  </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="database"/>
  </rules>
</nlog>
